<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>



<form method="post" action="chozen">
	<%if meat == nil%>

		<%else%>
			<%meat.each do |meat|%>
				<p><%=meat%>
					<img src = "/imgs/<%=meat%>.jpg"  width="128.7" height="108.7">
					<input type="radio" name="pickem[<%=meat%>]" 
					value="<%=meat%>" checked>	yes 
				<input type="radio" name="pickem[<%=meat%>]">  no  </p>
			<%end%>
	<%end%>	

	<%if vegs == nil%>

		<%else%>
			<%vegs.each do |vegs|%>
				<p><%=vegs%>
					<img src = "/imgs/<%=vegs%>.jpg"  width="128.7" height="108.7">
		  		<input type="radio" name="pickem[<%=vegs%>]" 
		  		value="<%=vegs%>" checked>  yes 
			 	<input type="radio" name="pickem[<%=vegs%>]"> no </p>
			<%end%>
	<%end%>

	<%if cheeze == nil%>

		<%else%>
			<%cheeze.each do |cheeze|%>
				<p><%=cheeze%>
					<img src = "/imgs/<%=cheeze%>.jpg"  width="128.7" height="108.7">
					<input type="radio" name="pickem[<%=cheeze%>]" 
					value="<%=cheeze%>" checked>   yes   
				<input type="radio" name="pickem[<%=cheeze%>]"> 
					  no </p> 
			<%end%>
	<%end%>

		<%crust.each do |crust|%>
		  <p>Crust
		  	<img src = "/imgs/<%=crust%>.jpg"  width="128.7" height="108.7">
			  <input type="radio" name="pickem[<%=crust%>]" 
			  value="<%=crust%>" checked> <%=crust%></p>
		<%end%>

	<%if delivery == nil%>

		<%else%>
		<p>Where You At ?
			<img src = "/imgs/<%=session[:delivery]%>.jpg"  width="128.7" height="108.7">
		<input type="text" name="address"></p>
	<%end%>		

			<p>Submit?????
					<input type="submit" value="~SNARF~"></p>

</form>
</body>
</html>