<!DOCTYPE html>
<html>
<head>

<h1>And Your order is as follows: 
		</h1>
</head>
<body>


<form>
<%pickem.each do |value|%>
	<%if value == "nil"%>
	
		<%else%>
		<input type="hidden" name="pickem[]" value="<%=value%>">
	<img src = "/imgs/<%=value%>.jpg "  width="128.7" height="108.7">	
<h1>	<%=value%>	 </h1>
	
	<%end%>
<%end%>	

And We're Delivering it to:
	<img src = "/imgs/delivery.jpg"  width="128.7" height="108.7">	
			<h2>	<%=address%>  </h2>
			Anda You Price is 
			<h3> <%=cost%> </h3>
	
		<h2>	You's Wanna Anudduh Pie??</h2>

	<input type="radio" name="anudder" value="yes"> Yes
	<input type="radio" name="anudder" value="no" checked> No
	<input type="submit" value="Gawn">
</form>


</body>
</html>